<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../../css/signup.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find_pw</title>
</head>

<body>
<form class="form" method="post" action="/find_pw">
    <p class="title">Find_Password </p>
    <label>
        <input class="input" name="userEmail" type="text" placeholder="" required>
        <span>ID (Email)</span>
    </label>

    <label>
        <input class="input" name="userName" type="text" placeholder="" required>
        <span>Name</span>
    </label>

    <label>
        <input class="input" name="userPhone" type="tel" placeholder="" required>
        <span>Phone</span>
    </label>
    <button class="submit" type="submit">Reset Password</button>
    <button class="back" onclick="home()">Back</button>
    <a class="signin" href="/App/login">login</a>
</form>

<script>
    function home() {
        window.location.href = '/App/login';
    }
</script>
</body>

</html>
