<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../css/signup.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find_id</title>
</head>

<body>
<form class="form" action="/find_id" method="post">
    <p class="title">Find_ID </p>

    <label>
        <input class="input" type="text" placeholder="" name="userName" required>
        <span>Name</span>
    </label>

    <label>
        <input class="input" name="userPhone" type="tel" placeholder="" required>
        <span>Phone</span>
    </label>

    <button class="submit" type="submit">Find ID</button>
    <button onclick="location.href='/'" class="back">Back</button>
    <p id="result"></p>
    <br/>
    <br/>
    <a class="signin" href="/App/find_pw">Find pw</a>
</form>

<script>
    // JavaScript to update result after submission
    const form = document.querySelector('form');
    form.onsubmit = async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const response = await fetch(form.action, {
            method: 'POST',
            body: formData
        });
        const result = await response.text();
        document.getElementById('result').innerText = `사용자의 아이디는 ${result} 입니다.`;
        if(result === "a") {
            document.getElementById('result').innerText = `사용자 아이디를 찾을 수 없습니다.`;
        }
    };
</script>
</body>
</html>
