<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #main {
            font-size: 1800%;
            margin-top: 450px;
        }

        #main2 {
            font-size: 1800%;
            margin-top: -220px;
            margin-left: 400px;
        }

        #main3 {
            font-size: 250%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1 id="main">Voca</h1>
        <h1 id="main2">Test</h1>
        <p id="main3">화면을 터치해 주세요</p>
    </div>
</body>
</html>