<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../../css/splash_screen.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>splash_screen</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&family=Sunflower:wght@300&display=swap"
          rel="stylesheet">


</head>

<body>
<!-- Loader -->
<div class="jua-regular">
    <div class="loader">
        <span class="loader-text">Memorize</span>
        <span class="loader-text">Voca</span>
        <span class="loader-text">Project</span>
    </div>
</div>

<!-- Click message -->
<div class="click-message">
    화면을 터치해주세요
</div>

<script>
    document.body.addEventListener('click', function () {
        // Redirect to another page when the body is clicked
        window.location.href = '/App/login'; // Replace with your target URL
    });
</script>
</body>

</html>
