<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>단어 외우기 단계 선택</title>
</head>
<body>
<h1>단어 외우기</h1>
<!-- 단계 선택 버튼 -->
<div>
    <button onclick="location.href='/App/Quiz/Memorize/1'">1 단계</button>
    <button onclick="location.href='/App/Quiz/Memorize/2'">2 단계</button>
    <button onclick="location.href='/App/Quiz/Memorize/3'">3 단계</button>
    <button onclick="location.href='/App/Quiz/Memorize/4'">4 단계</button>
    <button onclick="location.href='/App/Quiz/Memorize/5'">5 단계</button>
    <button onclick="location.href='/main2'">뒤로</button>
</div>
</body>
</html>
