<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="../../css/signup.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset_pw</title>
</head>

<body>
<form class="form" method="post" action="">
    <p class="title">Reset_password </p>

    <label>
        <input class="input" type="password" id="password" name="userPassword" placeholder="" required>
        <span>New password</span>
    </label>

    <label>
        <input class="input" type="password" id="password2" name="userPassword2" placeholder="" required>
        <span>Confirm New password</span>
    </label>
    <p id="confirmMsg" style="margin: -3% 0 0 0; color: green;"></p>
    <button class="submit">Reset Password</button>
    <button class="back">Back</button>
</form>

<script>
    function passConfirm() {
        var password = document.getElementById('password').value;                    //비밀번호
        var passwordConfirm = document.getElementById('password2').value;  //비밀번호 확인 값
        var confirmMsg = document.getElementById('confirmMsg');                //확인 메세지

        if (password === passwordConfirm && password !== "") {
            confirmMsg.style.color = 'green';
            confirmMsg.innerHTML = "비밀번호 일치";  // innerHTML : HTML 내부에 추가적인 내용을 넣을 때 사용하는 것.
        } else {
            confirmMsg.style.color = 'red';
            confirmMsg.innerHTML = "비밀번호 불일치";
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var passwordField = document.getElementById('password');
        var passwordConfirmField = document.getElementById('password2');

        passwordField.addEventListener('blur', passConfirm);
        passwordConfirmField.addEventListener('input', passConfirm);
    });
</script>
</body>

</html>

<!-- 비밀번호 찾기에서 비밀번호 재설정 -->
<!-- findPW > resetPW -->